/* header-section-style-part */
.header-section {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {

    display: flex;
    margin-right: 30px;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1em;
}

nav li a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--Dark-02, #424242);

}

.nev-logu {
    font-size: 3em;
    color: #131313;
    font-weight: 700px;
}

.benner-content {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.benner-title {
    font-size: 4em;
    font-weight: 700;
    color: #131313;
}

.benner-description {
    color: #727272;
}

.benner-bnt {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 35px;
    border: 0;
    color: white;
}

.benner-part img {
    width: 100%;
    margin-top: 20px;
}



/* mein section */
main {
    max-width: 1300px;
    margin: 0 auto;
}



/* group-section-style */
.group-section {
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.group-imgase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.group-content {
    padding-left: 50px;
    padding-right: 50px;
}

.quick-list {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.of-our {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.group-description {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
}




/* responsive mobile device */

@media screen and (max-width: 576px) {
    .header-section {
        padding: 10px;
    }

    nav {
        flex-direction: column;
    }
    .group-section{
        flex-direction: column;
    }
    .group-imgase{
        grid-template-columns: 1fr;
    }


}


/* responsive teblet device */

@media screen and (min-width:576px) and (max-width:960px) {
    .header-section {
        padding: 30px;
    }

    nav {
        flex-direction: column;
    }
    .group-section{
        flex-direction: column;
    }
    .group-imgase{
        grid-template-columns: repeat(2, 1fr);
    }
}